@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "pc";
  src: url("/PrintChar21.woff2") format("woff2"), url("/PrintChar21.woff") format("woff"), url("/PrintChar21.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.nes-balloon,
.nes-balloon.is-dark,
.nes-btn,
.nes-container.is-rounded,
.nes-container.is-rounded.is-dark,
.nes-dialog.is-rounded,
.nes-dialog.is-rounded.is-dark,
.nes-progress,
.nes-progress.is-rounded,
.nes-table.is-bordered,
.nes-table.is-dark.is-bordered,
.nes-input,
.nes-textarea,
.nes-select select {
  border-style: solid;
  border-width: 4px;
}

.nes-progress {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  width: 100%;
  height: 48px;
  margin: 4px;
  color: #212529;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-progress {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .nes-progress {
    border-image-repeat: stretch;
  }
}

.nes-progress::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress::-webkit-progress-value {
  background-color: #212529;
}

.nes-progress::-moz-progress-bar {
  background-color: #212529;
}

.nes-progress::-ms-fill {
  background-color: #212529;
  border: none;
}

.nes-progress.is-rounded {
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-progress.is-rounded {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .nes-progress.is-rounded {
    border-image-repeat: stretch;
  }
}

.nes-progress.is-primary::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-primary::-webkit-progress-value {
  background-color: #209cee;
}

.nes-progress.is-primary::-moz-progress-bar {
  background-color: #209cee;
}

.nes-progress.is-primary::-ms-fill {
  background-color: #209cee;
  border: none;
}

.nes-progress.is-success::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-success::-webkit-progress-value {
  background-color: #92cc41;
}

.nes-progress.is-success::-moz-progress-bar {
  background-color: #92cc41;
}

.nes-progress.is-success::-ms-fill {
  background-color: #92cc41;
  border: none;
}

.nes-progress.is-warning::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-warning::-webkit-progress-value {
  background-color: #f7d51d;
}

.nes-progress.is-warning::-moz-progress-bar {
  background-color: #f7d51d;
}

.nes-progress.is-warning::-ms-fill {
  background-color: #f7d51d;
  border: none;
}

.nes-progress.is-error::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-error::-webkit-progress-value {
  background-color: #e76e55;
}

.nes-progress.is-error::-moz-progress-bar {
  background-color: #e76e55;
}

.nes-progress.is-error::-ms-fill {
  background-color: #e76e55;
  border: none;
}

.nes-progress.is-pattern::-webkit-progress-value {
  background-color: #212529;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.nes-progress.is-pattern::-moz-progress-bar {
  background-color: #212529;
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.nes-progress.is-pattern::-ms-fill {
  background-color: #212529;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  border: none;
}

input[type="file"] {
  display: none;
}

@theme inline {
  --font-sans: 'pc'
    --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: 'pc', var(--font-geist-sans);
  --font-mono: 'pc', var(--font-geist-mono);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'pc';
}


.nes-octocat {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 90px
}

.nes-octocat::before {
  position: absolute;
  top: -6px;
  left: -6px;
  content: "";
  background: 0 0;
  width: 6px;
  height: 6px;
  color: #333;
  box-shadow: 24px 6px, 78px 6px, 24px 12px, 30px 12px, 72px 12px, 78px 12px, 24px 18px, 30px 18px, 36px 18px, 42px 18px, 48px 18px, 54px 18px, 60px 18px, 66px 18px, 72px 18px, 78px 18px, 18px 24px, 24px 24px, 30px 24px, 36px 24px, 42px 24px, 48px 24px, 54px 24px, 60px 24px, 66px 24px, 72px 24px, 78px 24px, 84px 24px, 18px 30px, 24px 30px, 30px 30px, 36px 30px, 42px 30px, 48px 30px, 54px 30px, 60px 30px, 66px 30px, 72px 30px, 78px 30px, 84px 30px, 18px 36px, 24px 36px, 30px 36px, 36px 36px #ffdec4, 42px 36px #ffdec4, 48px 36px #ffdec4, 54px 36px #ffdec4, 60px 36px #ffdec4, 66px 36px #ffdec4, 72px 36px, 78px 36px, 84px 36px, 18px 42px, 24px 42px, 30px 42px #ffdec4, 36px 42px #cb7066, 42px 42px #ffdec4, 48px 42px #ffdec4, 54px 42px #ffdec4, 60px 42px #ffdec4, 66px 42px #cb7066, 72px 42px #ffdec4, 78px 42px, 84px 42px, 18px 48px, 24px 48px, 30px 48px #ffdec4, 36px 48px #cb7066, 42px 48px #ffdec4, 48px 48px #ffdec4, 54px 48px #ffdec4, 60px 48px #ffdec4, 66px 48px #cb7066, 72px 48px #ffdec4, 78px 48px, 84px 48px, 24px 54px, 30px 54px, 36px 54px #ffdec4, 42px 54px #ffdec4, 48px 54px #cb7066, 54px 54px #cb7066, 60px 54px #ffdec4, 66px 54px #ffdec4, 72px 54px, 78px 54px, 6px 60px, 12px 60px, 42px 60px, 48px 60px, 54px 60px, 60px 60px, 18px 66px, 24px 66px, 36px 66px, 42px 66px, 48px 66px, 54px 66px, 60px 66px, 66px 66px, 24px 72px, 30px 72px, 36px 72px, 42px 72px, 48px 72px, 54px 72px, 60px 72px, 66px 72px, 36px 78px, 48px 78px, 54px 78px, 66px 78px, 36px 84px, 48px 84px, 54px 84px, 66px 84px, 30px 90px, 42px 90px, 60px 90px, 72px 90px;
  transform: rotate(0)
}

@supports (-moz-appearance: meterbar) {
  .nes-octocat::before {
    box-shadow: 24px 6px 0 .020em, 78px 6px 0 .020em, 24px 12px 0 .020em, 30px 12px 0 .020em, 72px 12px 0 .020em, 78px 12px 0 .020em, 24px 18px 0 .020em, 30px 18px 0 .020em, 36px 18px 0 .020em, 42px 18px 0 .020em, 48px 18px 0 .020em, 54px 18px 0 .020em, 60px 18px 0 .020em, 66px 18px 0 .020em, 72px 18px 0 .020em, 78px 18px 0 .020em, 18px 24px 0 .020em, 24px 24px 0 .020em, 30px 24px 0 .020em, 36px 24px 0 .020em, 42px 24px 0 .020em, 48px 24px 0 .020em, 54px 24px 0 .020em, 60px 24px 0 .020em, 66px 24px 0 .020em, 72px 24px 0 .020em, 78px 24px 0 .020em, 84px 24px 0 .020em, 18px 30px 0 .020em, 24px 30px 0 .020em, 30px 30px 0 .020em, 36px 30px 0 .020em, 42px 30px 0 .020em, 48px 30px 0 .020em, 54px 30px 0 .020em, 60px 30px 0 .020em, 66px 30px 0 .020em, 72px 30px 0 .020em, 78px 30px 0 .020em, 84px 30px 0 .020em, 18px 36px 0 .020em, 24px 36px 0 .020em, 30px 36px 0 .020em, 36px 36px 0 .020em #ffdec4, 42px 36px 0 .020em #ffdec4, 48px 36px 0 .020em #ffdec4, 54px 36px 0 .020em #ffdec4, 60px 36px 0 .020em #ffdec4, 66px 36px 0 .020em #ffdec4, 72px 36px 0 .020em, 78px 36px 0 .020em, 84px 36px 0 .020em, 18px 42px 0 .020em, 24px 42px 0 .020em, 30px 42px 0 .020em #ffdec4, 36px 42px 0 .020em #cb7066, 42px 42px 0 .020em #ffdec4, 48px 42px 0 .020em #ffdec4, 54px 42px 0 .020em #ffdec4, 60px 42px 0 .020em #ffdec4, 66px 42px 0 .020em #cb7066, 72px 42px 0 .020em #ffdec4, 78px 42px 0 .020em, 84px 42px 0 .020em, 18px 48px 0 .020em, 24px 48px 0 .020em, 30px 48px 0 .020em #ffdec4, 36px 48px 0 .020em #cb7066, 42px 48px 0 .020em #ffdec4, 48px 48px 0 .020em #ffdec4, 54px 48px 0 .020em #ffdec4, 60px 48px 0 .020em #ffdec4, 66px 48px 0 .020em #cb7066, 72px 48px 0 .020em #ffdec4, 78px 48px 0 .020em, 84px 48px 0 .020em, 24px 54px 0 .020em, 30px 54px 0 .020em, 36px 54px 0 .020em #ffdec4, 42px 54px 0 .020em #ffdec4, 48px 54px 0 .020em #cb7066, 54px 54px 0 .020em #cb7066, 60px 54px 0 .020em #ffdec4, 66px 54px 0 .020em #ffdec4, 72px 54px 0 .020em, 78px 54px 0 .020em, 6px 60px 0 .020em, 12px 60px 0 .020em, 42px 60px 0 .020em, 48px 60px 0 .020em, 54px 60px 0 .020em, 60px 60px 0 .020em, 18px 66px 0 .020em, 24px 66px 0 .020em, 36px 66px 0 .020em, 42px 66px 0 .020em, 48px 66px 0 .020em, 54px 66px 0 .020em, 60px 66px 0 .020em, 66px 66px 0 .020em, 24px 72px 0 .020em, 30px 72px 0 .020em, 36px 72px 0 .020em, 42px 72px 0 .020em, 48px 72px 0 .020em, 54px 72px 0 .020em, 60px 72px 0 .020em, 66px 72px 0 .020em, 36px 78px 0 .020em, 48px 78px 0 .020em, 54px 78px 0 .020em, 66px 78px 0 .020em, 36px 84px 0 .020em, 48px 84px 0 .020em, 54px 84px 0 .020em, 66px 84px 0 .020em, 30px 90px 0 .020em, 42px 90px 0 .020em, 60px 90px 0 .020em, 72px 90px 0 .020em
  }
}

.nes-octocat.animate::before {
  animation: wave .5s infinite steps(1)
}

@keyframes wave {
  50% {
    width: 6px;
    height: 6px;
    color: #333;
    box-shadow: 24px 6px, 78px 6px, 24px 12px, 30px 12px, 72px 12px, 78px 12px, 24px 18px, 30px 18px, 36px 18px, 42px 18px, 48px 18px, 54px 18px, 60px 18px, 66px 18px, 72px 18px, 78px 18px, 18px 24px, 24px 24px, 30px 24px, 36px 24px, 42px 24px, 48px 24px, 54px 24px, 60px 24px, 66px 24px, 72px 24px, 78px 24px, 84px 24px, 18px 30px, 24px 30px, 30px 30px, 36px 30px, 42px 30px, 48px 30px, 54px 30px, 60px 30px, 66px 30px, 72px 30px, 78px 30px, 84px 30px, 18px 36px, 24px 36px, 30px 36px, 36px 36px #ffdec4, 42px 36px #ffdec4, 48px 36px #ffdec4, 54px 36px #ffdec4, 60px 36px #ffdec4, 66px 36px #ffdec4, 72px 36px, 78px 36px, 84px 36px, 18px 42px, 24px 42px, 30px 42px #ffdec4, 36px 42px #ffdec4, 42px 42px #ffdec4, 48px 42px #ffdec4, 54px 42px #ffdec4, 60px 42px #ffdec4, 66px 42px #ffdec4, 72px 42px #ffdec4, 78px 42px, 84px 42px, 12px 48px, 18px 48px, 24px 48px, 30px 48px #ffdec4, 36px 48px #cb7066, 42px 48px #ffdec4, 48px 48px #ffdec4, 54px 48px #ffdec4, 60px 48px #ffdec4, 66px 48px #cb7066, 72px 48px #ffdec4, 78px 48px, 84px 48px, 12px 54px, 24px 54px, 30px 54px, 36px 54px #ffdec4, 42px 54px #ffdec4, 48px 54px #cb7066, 54px 54px #cb7066, 60px 54px #ffdec4, 66px 54px #ffdec4, 72px 54px, 78px 54px, 18px 60px, 42px 60px, 48px 60px, 54px 60px, 60px 60px, 24px 66px, 36px 66px, 42px 66px, 48px 66px, 54px 66px, 60px 66px, 66px 66px, 24px 72px, 30px 72px, 36px 72px, 42px 72px, 48px 72px, 54px 72px, 60px 72px, 66px 72px, 36px 78px, 48px 78px, 54px 78px, 66px 78px, 36px 84px, 48px 84px, 54px 84px, 66px 84px, 30px 90px, 42px 90px, 60px 90px, 72px 90px
  }
}